{% extends '_base.html' %}

{% block title %}
  THREADS
{% endblock %}

{% block content %}
  {% load dict_extras %}
  <!-- Navigation -->
  <div class="navigate">
    <span><a href="{% url 'index' %}">Progrum - Forums</a> >> <a href="">random subforum</a></span>
  </div>
  <!-- Display posts table -->
  <div class="posts-table">
    <div class="table-head">
      <div class="status">Status</div>
      <div class="subjects">Subjects</div>
      <div class="replies">Replies/Views</div>
      <div class="last-reply">Last Reply</div>
    </div>
    {% for thread in threads %}
      <div class="table-row">
        <div class="status">
          <i class="fa fa-fire"></i>
        </div>
        <div class="subjects">
          <a href="{% url 'thread_page' slug=thread.slug %}">{{ thread.title }}</a>
          <br />
          <span>Started by <b>{{ thread.created_by }}</b> .</span>
        </div>
        <div class="replies">
          {{ thread.post_count }} replies <br /> {{ thread.views }} views
        </div>

        <div class="last-reply">
          {% with latest_post=latest_posts|dict_get:thread.forum.id %}
            {% if latest_post %}
              {{ latest_post.created_at|date:'d M Y' }} <br /> By <b>{{ latest_post.author }}</b>
            {% else %}
              <p>No posts yet.</p>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
