<!-- /c:/Users/User/Desktop/Programming APPS/@Projects/Django/forum_site/forum/templates/forum/forum_detail.html -->
{% extends '_base.html' %}

{% block title %}
  {{ forum.name }}
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Navigation -->
    <div class="navigate">
      <span><a href="{% url 'index' %}">MyForum - Forums</a> >> <a href="">{{ forum.name }}</a></span>
    </div>

    <!-- Display threads table -->
    <div class="posts-table">
      <div class="table-head">
        <div class="status">Status</div>
        <div class="subjects">Subjects</div>
        <div class="replies">Replies/Views</div>
        <div class="last-reply">Last Reply</div>
      </div>
      {% for thread in threads %}
        <div class="table-row">
          <div class="status">
            <i class="fa fa-fire"></i>
          </div>
          <div class="subjects">
            <a href="{% url 'thread_page' slug=thread.slug %}">{{ thread.title }}</a>
            <br />
            <span>Started by <b>{{ thread.created_by }}</b>.</span>
          </div>
          <div class="replies">
            {{ thread.post_count }} replies <br /> {{ thread.views }} views
          </div>
          <div class="last-reply">
            {% if thread.latest_post %}
              {{ thread.latest_post.created_at|date:'d M Y' }} <br /> By <b>{{ thread.latest_post.author }}</b>
            {% else %}
              <p>No posts yet.</p>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <div class="no-threads">
          <p>No threads available.</p>
        </div>
      {% endfor %}
    </div>

    <a href="{% url 'create_thread' %}" class="btn">Create Thread</a>
  </div>
{% endblock %}
