{% extends '_base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div>
    <h5>General Information</h5>
    <div class="p-4 bg-gray-400">
      {% for forum in forums %}
        <div class="">
          <a href="{% url 'forum_detail' forum.slug %}" class="btn">{{ forum.name }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
  <h1 class="title">Welcome!</h1>
  <a href="{% url 'create_thread' %}" class="btn">Create Post</a>
  <a href="{% url 'threads_list' %}" class="btn">View Thread</a>
{% endblock %}
