{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet" />
    <title>
      {% block title %}
        Forum
      {% endblock %}
    </title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endcompress %}
  </head>

  <body class="">
    <header class="navbar bg-white rounded-lg shadow-lg p-4 flex justify-between items-center">
      <!-- Left Section: System Name and Navigation Links -->
      <nav class="flex items-center space-x-6">
        <span class="system-name font-bold text-lg text-blue-700">PROGRUM</span>
        <ul class="flex space-x-6">
          <li class="nav-item">
            <a href="{% url 'index' %}" class="hover:text-gray-600">Forums</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'threads_list' %}" class="hover:text-gray-600">Threads</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'create_thread' %}" class="hover:text-gray-600">Create New Thread</a>
          </li>
        </ul>
      </nav>
    
      <!-- Right Section: Login and Register Links -->
      <ul class="auth-links flex items-center space-x-4">
        {% if user.is_authenticated %}
          <li>
            <button id="dropdownButton" class="flex items-center">
              {{ user.username }}
              <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <ul id="dropdownMenu" class="absolute right-0 mt-2 w-32 bg-white text-black border rounded-md shadow-lg hidden">
              <li>
                <form action="{% url 'logout' %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="block px-4 py-2 hover:bg-red-100 w-full text-left">Logout</button>
                </form>
              </li>
            </ul>
          </li>
        {% else %}
          <li id="login-link">
            <a href="{% url 'login' %}" class="btn-auth">Login</a>
          </li>
          <li id="register-link">
            <a href="{% url 'register' %}" class="btn-auth">Register</a>
          </li>
        {% endif %}
      </ul>
    </header>
    

    <main class="container mx-auto mt-4">
      <div class="mx-4 lg:mx-32">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    {% compress js %}
    <script src="{% static 'js/user-dropdown.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
  </body>
</html>
