{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet" />
    <title>
      {% block title %}
        Forum
      {% endblock %}
    </title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endcompress %}
  </head>

  <body class="">
    <header>
      <!-- NavBar Section -->
      <div class="navbar">
        <nav class="navigation hide" id="navigation">
          <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
          <ul class="nav-list">
            <li class="nav-item">
              <a href="{% url 'index' %}">Forums</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'threads_list' %}">Threads</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'create_thread' %}">Create new Thread</a>
            </li>
          </ul>
        </nav>
        <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
        <div class="brand">Progrum</div>
      </div>
      <!-- SearchBox Section -->
      <!--          <div class="search-box">
        <div>
          <select name="" id="">
            <option value="Everything">Everything</option>
            <option value="Titles">Titles</option>
            <option value="Descriptions">Descriptions</option>
          </select>
          <input type="text" name="q" placeholder="search ..." />
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>          -->
      <!-- no time to implement -->
      <ul class="search-box flex">
        {% if user.is_authenticated %}
          <li class="mx-2 relative">
            <button id="dropdownButton" class="flex items-center">
              {{ user.username }}
              <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <ul id="dropdownMenu" class="absolute right-0 mt-2 w-32 bg-lightBg border rounded-md shadow-lg hidden">
              <li>
                <form action="{% url 'logout' %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="block px-4 py-2 hover:bg-red-100 w-full text-left">Logout</button>
                </form>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="mx-2">
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li class="mx-2">
            <a href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </header>
    <main class="container mx-auto mt-4">
      <div class="mx-4 lg:mx-32">
        {% block content %}

        {% endblock %}
      </div>
    </main>
    {% compress js %}
    <script src="{% static 'js/user-dropdown.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
  </body>
</html>
